.ride_container{
    padding: 80px 100px;
}
.head{
    font-size: 36px;
    padding-bottom: 50px;
    color: #333;
}
.ride_container .cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
}
.ride_container .cards .card{
    display: flex;
    gap: 36px;
}
.ride_container .cards .card:hover{
    cursor: pointer;
}
.ride_container .cards .card:hover .svg{
    transform: translateX(15px);
}
.ride_container .cards .card .svg{
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    transition: transform .5s ease-in-out;
}
.ride_container .cards .card .text{
    padding-top: 36px;
}
.ride_container .cards .card .text p{
    font-size: 14px;
}