.ride_container{
    padding: 80px 100px;
}
.head{
    font-size: 36px;
    padding-bottom: 50px;
    color: #333;
}
.ride_container .cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
}
.ride_container .cards .card{
    display: flex;
    gap: 36px;
}
.ride_container .cards .card:hover{
    cursor: pointer;
}
.ride_container .cards .card:hover .svg{
    transform: translateX(15px);
}
.ride_container .cards .card .svg{
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    transition: transform .5s ease-in-out;
}
.ride_container .cards .card .text{
    padding-top: 36px;
}
.ride_container .cards .card .text p{
    font-size: 14px;
}

@media screen and (max-width:980px){
    .ride_container .cards{
        grid-template-columns: 1fr;
    }
    .head{
        font-size: 30px;
    }
}
@media screen and (max-width:556px){
    .ride_container{
        padding: 50px 20px;
    }
    .ride_container .cards .card{
        flex-direction: column;
    }
    .ride_container .cards .card>div:nth-of-type(1){
        display: flex;
        justify-content: center;
    }
    .ride_container .card img{
        width: 100px;
    }
    .ride_container .cards .card .text{
        padding:0;
    }
    .ride_container .cards .card svg{
        display: none;
    }
    .ride_container .cards .card .text p{
        max-width: 420px;
    }
    .ride_container .cards .card {
        display:flex;
        justify-content: center;
    }
}